.container_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 10vh;
  padding: 2rem;
}

.menu_icon{
    display: none;
    height: 4.5rem;
    width: auto;
    color: #a4161a;
}

.container_logo {
  display: flex;
  align-items: center;
  margin: 0%;
  padding: auto;
}

.logo{
border-radius: 2.5rem;
margin: 0%;
padding: 0%;
height: 100%;
width: 75%;
}

.container_buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.custom_btn {
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background: linear-gradient(0deg, #f5f3f4 0%, #f5f3f4 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: white;
  transition: all 0.3s ease;
}

.btn:before {
  height: 0%;
  width: 2px;
}

.btn:after {
  width: 0%;
  height: 2px;
}

.btn:hover {
  background: #a4161a;
  box-shadow: none;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.btn span:hover {
  color: #f5f3f4;
}

.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: white;
  transition: all 0.3s ease;
}

.btn span:before {
  width: 2px;
  height: 0%;
}

.btn span:after {
  width: 0%;
  height: 2px;
}

.btn span:hover:before {
  height: 100%;
}

.btn span:hover:after {
  width: 100%;
}

.container_icon{
    display: none;
}

.login{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.welcome{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login span{
  background-color: #a4161a;
  color: #f5f3f4;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.link{
  text-decoration: none;
  border-radius: 2.5rem;
  text-align: center;
  padding: .1rem 2rem;
  align-self: center;
  border: 1px solid #a4161a;
}

.link:hover{
  background-color: #a4161a;
  color: #f5f3f4;
  font-weight: 600;
  padding: .5rem 2rem;
}

@media screen and (max-width: 45.8rem){
    .container_header{
      justify-content: space-between;
    }
    
    .container_icon{
        display: block;
        padding: 1rem;
    }

    .menu_icon{
    display: block;
    }

    .container_buttons{
        display: none;
    }

}