/* Subheader */
.sub_header_1 {
  background: linear-gradient(
    90deg,
    rgba(164, 22, 26, 1) 0%,
    rgba(211, 211, 211, 0.8603816526610644) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2.5%;
  color: aliceblue;
}

.sub_header_1 div :nth-child(2) {
  font-weight: bolder;
  font-size: var(--subtitle);
}

.sub_header_1 button {
  border: none;
  background: linear-gradient(
    90deg,
    rgb(210, 193, 193) 0%,
    rgba(211, 211, 211, 0.8603816526610644) 100%
  );
}

.back_arrow {
  font-size: 3rem;
  color: var(--secundary_color);
}

.back_arrow:hover {
  cursor: pointer;
  transform: scaleX(1.1) scaleY(1.1);
}
/* End SubHeader */

.title_booking {
  padding: 2rem 1rem 1.6rem 1rem;
  font-size: var(--subtitle);
  text-shadow: 0.5px 0.5px 0.5px rgb(83, 1, 4);
}

.form_booking {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  margin-left: 5vw;
}

.form_booking div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
  padding: 1rem;
}

.form_booking div input {
  align-self: center;
  width: 95%;
  border-radius: 12px;
  background-color: var(--bg-color-secundary);
  padding: 6px;
  border: none;
}

#formCity {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
    rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cont_calendar {
  display: flex;
  justify-content: center;
}

.form_booking_hour {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  margin-left: 5vw;
}

.form_booking_hour select {
  align-self: center;
  width: 95%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 6px;
}

.form_booking_hour select:focus {
  border: 2px solid rgb(255, 0, 30);
  outline: none;
}

.cont_confirm_form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  margin: 5vw 5vw 5vw 5vw;
}

.title_confirm_booking {
  padding: 0.8rem 1rem 1rem 0rem;
  font-size: var(--subtitle);
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px rgb(83, 1, 4);
}

.cont_img_booking img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.info_car_selected p {
  font-size: var(--subtitle);
}

.info_car_selected p:nth-child(2) {
  font-weight: 600;
}

.cont_car_location {
  display: flex;
  margin: 1rem 0;
}

.cont_car_location p {
  font-weight: 500;
  font-size: var(--text-secundary);
}

.form_booking_conf {
  display: flex;
  flex-direction: column;
}

.form_booking_conf div {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.form_booking_conf div input {
  width: 30%;
  border: none;
}

.form_booking_conf button {
  margin: 2rem 0 0.8rem 0;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #a4161a;
  color: var(--bg-color-secundary);
}

/* Rent polity */
.cont_rent_polity2 {
  margin: 5vw 5vw 0vw 5vw;
}
/* same this part in carDetail */
.rent_tittle {
  font-size: var(--subtitle);
  text-shadow: 1px 1px 0.5px rgb(168, 57, 60);
  margin-bottom: 0.8rem;
}

.cont_rent_policy {
  display: flex;
  flex-direction: column;
  height: 50rem;
}

.cont_rent_policy div {
  margin-bottom: 2rem;
}

.cont_rent_policy h4 {
  font-size: var(--text-secundary);
}

.cont_rent_policy div ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
/* End Rent polity */

@media (min-width: 760px) {

  .sub_header_1 button {
    border: none;
    background: linear-gradient(
      90deg,
      rgb(214, 209, 209) 0%,
      rgba(211, 211, 211, 0.8603816526610644) 100%
    );
  }

  .title_booking {
    padding-left: 5vw;
  }
  .form_booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cont_confirm_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .info_car_in_form {
    padding-top: 4rem;
  }

  .cont_rent_policy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    row-gap: 1rem;
  }
}

@media (min-width: 992px) {
  .all_info_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 3rem;
  }

  .first_grid_area {
    width: 60vw;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-left: 5vw;
  }

  .first_grid_area h3 {
    padding-left: 0;
  }

  .form_booking {
    width: 100%;
    margin: 0;
  }

  .cont_confirm_form {
    display: flex;
    width: 28vw;
  }

  .second_grid_area {
    width: 60vw;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .third_grid_area {
    width: 60vw;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding-left: 5vw;
    padding-top: 10%;
  }

  .form_booking_hour {
    width: 100%;
    margin: 0;
  }

  .fourth_grid_area {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin-bottom: 2rem;
  }
}
