.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_control {
  width: 100%;
}

.subtitle {
  font-size: var(--subtitle);
  color: var(--secundary_color);
  margin-bottom: 2rem;
}

.form_Container {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_Container input {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 8px;
  margin-top: 0.4rem;
  align-self: center;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px, rgb(0 0 0 / 16%) 0px 1px 4px;
  border: none;
}

.btn {
  transition-duration: 0.5s;
  text-decoration: none;
  border: 2px solid var(--secundary_color);
  background-color: var(--secundary_color);
  color: var(--bg-color-secundary);
  border-radius: 10px;
  padding: 10px 0;
  width: 30%;
  cursor: pointer;
  margin: 5rem 0 3rem;
}

.btn:hover {
  background-color: var(--bg-color-secundary);
  color: var(--secundary_color);
  border: 2px solid var(--secundary_color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.form {
  width: 70%;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 740px) {
  .form {
    width: 40%;
  }
}
