.subtitle {
  font-size: var(--subtitle);
  color: var(--secundary_color);
  margin-bottom: 0;
  margin-bottom: 5rem;
}

.form_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.form_Container h3{
  margin-bottom: 2rem;
}

.fistInputBlock {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 0.7rem;
}

.form_Container input {
  width: 100%;
  margin-bottom: .4rem;
  padding: 8px;
}

.btn {
  transition-duration: 0.4s;
  text-decoration: none;
  border: 2px solid var(--secundary_color);
  background-color: var(--secundary_color);
  color: var(--bg-color-secundary);
  border-radius: 10px;
  padding: 10px 0;
  margin: 0;
  width: 30%;
  cursor: pointer;
  margin: 2rem 0 1rem;
}

.btn:hover {
  background-color: var(--bg-color-secundary);
  color: var(--secundary_color);
  border: 2px solid var(--secundary_color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.form {
  width: 70%;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.form_control{
  margin-bottom: 1rem;
}

.error{
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
}

@media (min-width: 760px){
  .form_Container{
    height: 81vh;
    margin: 0rem;
  }

  .form_control{
    margin-top: 0.2rem;
  }
}

@media (min-width: 1025px) {

  .form {
    width: 40%;
  }

  .form_control{
    margin-bottom: 1rem;
  }

  .subtitle {
    margin-bottom: 2rem;
  }

  .btn{
    margin: 2rem 0 1rem;
  }

}
